.full-width {
    width: 100%;
}

.font-size-xs {
    font-size: x-small;
}

.font-size-sm {
    font-size: small;
}

.font-size-md {
    font-size: medium;
}

.font-size-lg {
    font-size: large;
}

.font-size-xl {
    font-size: larger;
}