/* Margin All */
.margin-all-xl {
    margin: 50px;
}

.margin-all-lg {
    margin: 40px;
}

.margin-all-md {
    margin: 30px;
}

.margin-all-sm {
    margin-top: 20px;

}

.margin-all-xs {
    margin: 10px;
}

/* Margin Top */
.margin-top-xl {
    margin-top: 50px;
}

.margin-top-lg {
    margin-top: 40px;
}

.margin-top-md {
    margin-top: 30px;
}

.margin-top-sm {
    margin-top: 20px;
}

.margin-top-xs {
    margin-top: 10px;
}

/* Margin Bottom */
.margin-bottom-xl {
    margin-bottom: 50px;
}

.margin-bottom-lg {
    margin-bottom: 40px;
}

.margin-bottom-md {
    margin-bottom: 30px;
}

.margin-bottom-sm {
    margin-bottom: 20px;
}

.margin-bottom-xs {
    margin-bottom: 10px;
}

/* Margin Left */
.margin-left-xl {
    margin-left: 50px;
}

.margin-left-lg {
    margin-left: 40px;
}

.margin-left-md {
    margin-left: 30px;
}

.margin-left-sm {
    margin-left: 20px;
}

.margin-left-xs {
    margin-left: 10px;
}

/* Margin Right */
.margin-right-xl {
    margin-right: 50px;
}

.margin-right-lg {
    margin-right: 40px;
}

.margin-right-md {
    margin-right: 30px;
}

.margin-right-sm {
    margin-right: 20px;
}

.margin-right-xs {
    margin-right: 10px;
}

/* padding All */
.padding-all-xl {
    padding: 50px;
}

.padding-all-lg {
    padding: 40px;
}

.padding-all-md {
    padding: 30px;
}

.padding-all-sm {
    padding-top: 20px;

}

.padding-all-xs {
    padding: 10px;
}

/* padding Top */
.padding-top-xl {
    padding-top: 50px;
}

.padding-top-lg {
    padding-top: 40px;
}

.padding-top-md {
    padding-top: 30px;
}

.padding-top-sm {
    padding-top: 20px;
}

.padding-top-xs {
    padding-top: 10px;
}

/* padding Bottom */
.padding-bottom-xl {
    padding-bottom: 50px;
}

.padding-bottom-lg {
    padding-bottom: 40px;
}

.padding-bottom-md {
    padding-bottom: 30px;
}

.padding-bottom-sm {
    padding-bottom: 20px;
}

.padding-bottom-xs {
    padding-bottom: 10px;
}

/* padding Left */
.padding-left-xl {
    padding-left: 50px;
}

.padding-left-lg {
    padding-left: 40px;
}

.padding-left-md {
    padding-left: 30px;
}

.padding-left-sm {
    padding-left: 20px;
}

.padding-left-xs {
    padding-left: 10px;
}

/* padding Right */
.padding-right-xl {
    padding-right: 50px;
}

.padding-right-lg {
    padding-right: 40px;
}

.padding-right-md {
    padding-right: 30px;
}

.padding-right-sm {
    padding-right: 20px;
}

.padding-right-xs {
    padding-right: 10px;
}
