{% extends 'base.html' %}


{% block header %}
    <header class="profile-header">
        <div class="jumbotron-fluid" style="background: gray">

        </div>
    </header>
{% endblock %}
{% block container %}
    <div class="profile-header-container">
        <div class="profile-header">
            <div class="card">
                <img class="card-img-top" src="http://via.placeholder.com/400x500" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Summary</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus ullamcorper viverra turpis sed mollis.
                        Quisque volutpat viverra nibh, in ornare lorem scelerisque fringilla.
                        Nunc ut quam ex. Sed at turpis nec lacus porttitor suscipit eu elementum elit.
                    </p>
                    <ul class="profile-header-list">
                        <li class="profile-header-item">
                            <div class="pull-left">
                                <small>
                                    Birthday:
                                </small>
                            </div>
                            <div class="pull-right">
                                <small>
                                    October 1, 1996
                                </small>
                            </div>
                        </li>
                        <li class="profile-header-item">
                            <div class="pull-left">
                                <small>
                                    Education:
                                </small>
                            </div>
                            <div class="pull-right">
                                <small>
                                    University of Lorem Ipsum
                                </small>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-footer padding-all-none">
                    <a href="/"
                       class="btn btn-raised btn-primary full-width margin-all-none padding-all-xs border-all-none">
                        <h5 class="margin-all-none">
                            Book Now!
                        </h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-body-container">
        <div class="profile-body">
            <div class="row padding-top-md padding-bottom-md">
                <div class="col-lg-9">
                    <div class="backdrop-text">
                        <h1 class="margin-all-none">Lorem Ipsum</h1>
                        <small>Professional Pilot</small>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="backdrop-text text-center " style="float: right">
                        <h1 class="margin-all-none">5/5</h1>
                        <small>Ratings</small>
                    </div>
                </div>
            </div>
            <div class="row margin-top-md">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-block">
                            <p class="margin-all-none padding-all-xl">
                                <i class="fa fa-circle-o-notch fa-2x fa-fw fa-spin" aria-hidden="true"></i>
                                Loading...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-md">
                <div class="col-lg-12">
                    <a class="btn btn-raised btn-success pull-right">
                        Send a Message
                    </a>
                </div>
            </div>
            <div class="row margin-top-md">
                <div class="col-lg-12 margin-left-md margin-bottom-sm">
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <img class="commenter-photo margin-auto" src="http://via.placeholder.com/400x500">
                            <small>Lorem Ipsum</small>
                        </div>
                        <div class="col-lg-9">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus ullamcorper viverra turpis sed mollis.
                                Quisque volutpat viverra nibh, in ornare lorem scelerisque fringilla.
                            </p>
                            <small class="margin-bottom-sm">September 20, 2017</small>
                            <div class="border-bottom padding-all-xs">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 margin-left-md margin-bottom-sm">
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <img class="commenter-photo margin-auto" src="http://via.placeholder.com/400x500">
                            <small>Lorem Ipsum</small>
                        </div>
                        <div class="col-lg-9">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus ullamcorper viverra turpis sed mollis.
                                Quisque volutpat viverra nibh, in ornare lorem scelerisque fringilla.
                            </p>
                            <small class="margin-bottom-sm">September 20, 2017</small>
                            <div class="border-bottom padding-all-xs">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 margin-left-md margin-bottom-sm">
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <img class="commenter-photo margin-auto" src="http://via.placeholder.com/400x500">
                            <small>Lorem Ipsum</small>
                        </div>
                        <div class="col-lg-9">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus ullamcorper viverra turpis sed mollis.
                                Quisque volutpat viverra nibh, in ornare lorem scelerisque fringilla.
                            </p>
                            <small class="margin-bottom-sm">September 20, 2017</small>
                            <div class="border-bottom padding-all-xs">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 margin-left-md margin-bottom-sm">
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <img class="commenter-photo margin-auto" src="http://via.placeholder.com/400x500">
                            <small>Lorem Ipsum</small>
                        </div>
                        <div class="col-lg-9">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus ullamcorper viverra turpis sed mollis.
                                Quisque volutpat viverra nibh, in ornare lorem scelerisque fringilla.
                            </p>
                            <small class="margin-bottom-sm">September 20, 2017</small>
                            <div class="border-bottom padding-all-xs">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="Page navigation" class="pull-right">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true" class="material-icons">chevron_left</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true" class="material-icons">chevron_right</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both">
    </div>
{% endblock %}